---
import Layout from './Layout.astro';
import InteractiveEditor from "../components/InteractiveEditor.astro";
import ExerciseNav from "../components/ExerciseNav";
import '../styles/mdx-content.css';

interface Props {
  chapterTitle: string;
  exerciseTitle: string;
  exerciseId: string;
  chapterId: number;
  hasCode: boolean;
  starterCode: string | null;
  prevExercise: any;
  nextExercise: any;
}

const {
  chapterTitle,
  exerciseTitle,
  exerciseId,
  chapterId,
  hasCode,
  starterCode,
  prevExercise,
  nextExercise
} = Astro.props;
---

<Layout hasCodeTabs={hasCode}>
  <Fragment slot="title">{chapterTitle} - {exerciseTitle}</Fragment>

  <div class="exercise-container">
      {hasCode &&
      (
        <input
          type="radio"
          name="mobile-tabs"
          id="tab-instructions"
          class="tab-input"
          checked
        />
        <input type="radio" name="mobile-tabs" id="tab-code" class="tab-input" />

        <div class="content tab-content">
          <div class="content-scroll mdx-content">
            <div class="content-body">
              <h4>{chapterTitle}</h4>
              <h1>{exerciseTitle}</h1>
              <slot />
            </div>
            <ExerciseNav prevExercise={prevExercise} nextExercise={nextExercise} client:load />
          </div>
        </div>
      <div class="editor-wrapper tab-content">
        <InteractiveEditor
          starterCode={starterCode}
          exerciseId={exerciseId}
          chapterId={chapterId}
        />
      </div>
      )}

      {!hasCode && (
      <div class="content">
        <div class="content-scroll mdx-content nocode">
          <div class="content-body">
            <h4>{chapterTitle}</h4>
            <h1>{exerciseTitle}</h1>
            <slot />
          </div>
          <ExerciseNav prevExercise={prevExercise} nextExercise={nextExercise} client:load />
        </div>
      </div>
      )}

  </div>
</Layout>

<style>
  h4 ~ h1,
  h4:has(~ h1) {
    padding: 0px;
    margin: 0.2em 0px 0px 0px;
    line-height: 1em;
  }
  h1 {
    font-size: 30px;
  }

  .exercise-container {
    display: flex;
    height: 100%;
  }

  .content {
    flex: 1;
    overflow-y: auto;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
  }
  .content-scroll {
    padding: 0.5rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    box-sizing: border-box;
  }

  .content-scroll.nocode {
    max-width: 100ch;
    margin: 0px auto;
  }

  .tab-input {
    display: none;
  }

  .editor-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 1280px) {
    .exercise-container {
      flex-direction: column;
    }

    .tab-content {
      display: none;
    }

    #tab-instructions:checked ~ .content.tab-content {
      display: block;
      flex: 1;
      overflow-y: auto;
    }

    #tab-code:checked ~ .editor-wrapper.tab-content {
      display: flex;
      flex: 1;
    }

    .content {
      flex: none;
      overflow-y: visible;
    }

    .content-scroll {
      overflow-y: visible;
    }
  }
</style>
